KN_INIT_LOG_PATH=/var/log/path/to-backend.log
INIT_DB_CONN_STR=mongodb+srv://user:password@database.idstr.mongodb.net/?retryWrites=true&w=majority&appName=appname
INIT_ENV=DEV/TEST/PRODUCTION
KN_INIT_LOG_PATH=/path/to/file.log #Optional
INIT_MONGO_DB_NAME=DBName
INIT_MONGO_SESSION_DB=INIT-Backend-Shared
INIT_LISTEN_PORT=8080 
INIT_SMTP_PWD=SMTPPa$$word!
INIT_SMTP_USR=user.name
INIT_SMTP_PORT=587
INIT_SMTP_HOST=smtp.host.com
INIT_SMTP_SENDER_EMAIL=DoNotReply@example.com
INIT_ICC_DOMAIN=https://www.example.com
INIT_HA_DOMAIN=https://www.example.com
INIT_JWT_SECRET=e6cf2be5d13ef0483868d07ad6f4f95b7b2440d2d5fedbc9b4be10a963465f8b
INIT_API_KEY=ApiKey1234!
INIT_ADMIN_API_KEY=ApiKey1234!
